<!DOCTYPE html>
<html lang="en" style="width: 100%;height: 100%;">
<head>
	<meta charset="utf-8"/>
	<title>Roadbrick</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/searchdeal.css">
	<script type="text/javascript"  src="js/roadbrick.js"></script>
</head>

<!-- body Starts Hear -->
<body class="body" data-spy="scroll" data-target=".navbar">
	<nav class="navbar navbar-default navbar-fixed-top nomargin navbarbackground">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a id="Logoimg" class="navbar-brand" href="#">
	      	<img src="images/Logo.png" class="logo-width"  alt="Smiley face">
	      </a>
	      <select class="navbar-language">
			    <option>English</option>
			    <option>Hindi</option>
			    <option>Telgu</option>
			    <option>Tamil</option>
		  </select>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right: 10px;">
        
	       <ul class="nav navbar-nav navbar-right" id="scrollpynavigation">
          	 <li>
            	<a class="navbar-brand" href="#notification" style="height:55px;">
	      			<img src="images/notification.png" class="notificationstyle" alt="Smiley face">
	      		</a>
	     	 </li>
	        <li>
	        <a href="#livebeads" class="headerlink">Live bids</a>
	        <li><a href="#activedeals" class="headerlink">Active deals</a></li>
	        <li><a href="#postload" class="headerlink">Post load</a></li>
	        <li><a href="#companydetails" class="headerlink">Roadbrick</a></li>
	      </ul>
	    </div>
	    </div>
	    </nav>>

	    </div><!-- /.navbar-collapse -->
	    </div>
</nav>
<div class="row margin-top30px " >
	<div class="col-lg-2 col-lg-offset-2 col-md-10 col-md-offset-1 padding0px">
		<div class="row marginleftright-0px" >
			<h5>Date</h5>
		</div>
		<div class="row marginleftright-0px ">
			<input class="stylefordate" type="text" placeholder="Today">
		</div>
	</div>
	<div class="col-lg-2 col-md-10 col-md-offset-2 padding0px margin-left30px">
		<div class="row marginleftright-0px" >
			<h5>From</h5>
		</div>
		<div class="row marginleftright-0px" >
			<select name="" id="" class="navstyle">
				<option>Chennai</option>
			</select>
		</div>
	</div>
	<div class="col-lg-2 col-md-10 col-md-offset-2 padding0px margin-left30px" >
		<div class="row marginleftright-0px" >
			<h5>To</h5>
		</div>
		<div class="row marginleftright-0px" >
			<select name="" id="" class="navstyle">
				<option>Chennai</option>
			</select>
		</div>
	</div>
	<div class="col-lg-2 col-md-10 col-md-offset-2 padding0px margin-left30px" >
		<div class="row marginleftright-0px">
			<h5>Truck Type</h5>
		</div>
		<div class="row marginleftright-0px">
			<select name="" id="" class="navstyle">
				<option>All Types</option>
				<option>a</option>
				<option>b</option>
				<option>c</option>
			</select>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 40px;">
	<div class="col-lg-4 col-lg-offset-5">
		<button   type="button" id="calculatebutton" class=" calculatebuttonstyle btn btn-secondary fontsize align-centre roadbrickbutton">Search Deal</button>
	</div>
</div>
<!-- table start from here -->

<div class="row margin-top30px">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Load No.</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Material Type</th>
      <th>Weight (In Ton)</th>
      <th>Distance (IN KM)</th>
      <th>Truck Type</th>
      <th>No.of Trucks</th>
      <th>Rating</th>
      <th></th>
    </tr>
 </thead>
  <tbody>
    <tr>
      <td >3-23-l-01</td>
      <td> 23-04-2016</td>
      <td>Chennai</td>
      <td>Pune</td>
      <td>Cement</td>
      <td>50</td>
      <td>2200</td>
      <td>10 Ton container</td>
      <td>5</td>
      <td>85%</td>
    </tr>
 </tbody>
</table>
<table class="table table-striped "  style="margin-top: 10px">
  <thead>
   <tr>
      <th>Present Top Bid (Per Truck) </th>
      <th>Your Bid (Per Truck) </th>
      <th>No of Truck You Provide  </th>
      <th>Total Amount</th>
      <th>Your Bid Position </th>
      <th>Budding End In</th>
     </tr>
  </thead>
  <tbody>
    <tr>
      <td>Rs.45000</td>
      <td> 
            <div class="row marginleftright-0px ">
			<input class="stylefordate" type="text" placeholder="Rs.44000">
		</div></td>
      <td> <div class="row marginleftright-0px" >
			<select name="" id="" class="navstyle">
			    <option>1</option>
			    <option>2</option>
			    <option>3</option>
			    <option>4</option>
			    <option>5</option>
		  </select>   </div>   </td>
      <td>Rs.135000</td>
      <td>1</td>
      <td>6 hrs 30 min</td>
    </tr>
 </tbody>
</table>
</div>
<!--table end -->

<div class="row">
	<div class="col-lg-1 col-lg-offset-10">
		<button type="button" id="searchdealbutton" class=" btn btn-secondary fontsize align-centre">Search Deal</button>
	</div>
</div>

		
<!--Start of footer -->
<footer class="roadbrick_footer">
	<nav class="navbar navbar-default navbar-fixed-bottom nomargin navbarbackground" style="height: 50px;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4">
					<p class="padding-top15px" style=" padding-bottom: 0px;">Copyright @ 2016 RoadBrick Pvt Ltd. All Right Reserved.</p>
				</div>
				<div class="col-lg-4 padding-top15px" >
					<ul class="footerlist">
						<li> <a href="#roadbrickPrivacyPolicy"> Privcy Policy</a> </li>
						<li> <a href="#roadbrickTermOfUse">Terms of Use</a> </li>
						<li> <a href="#roadbrickWeAreHiring"> We are Hiring</a> </li>
					</ul>
				</div>
				<div class="col-lg-4 footerstyle" >
					<ul class="footersocial">
						<li><a href="#roadbrickfacebook"><img src="images/facebookicon.png" alt=""></a></li>
						<li><a href="#roadbricktwitter"><img src="images/twittericon.png" alt=""></a></li>
						<li><a href="#roadbrickgoogleplus"><img src="images/google-plus-icon.png" alt=""></a></li>
						<li><a href="#roadbrickfacebook"><img src="images/pininterest.png" alt=""></a></li>
					</ul>
				</div>
			</div>		
		</div>
</footer>

<!--End of footer -->
</body>
</html>

