{%extends "loggedin_truck/profile_header.html"%}
{% block content %}

<!--Profile container starts here-->
		<div class="container-fluid">
			<div class="row">
				 <div class="col-md-4">
						<div class="panel panel-info" id="personal_info">
					  <div class="panel-heading">  
						<span class="glyphicon glyphicon-user"></span> personal Info</div>	
					   	<table class="table table-striped">
						<tr>
						<td>Name</td>
						<td>Ramsakha Singh</td>
						</tr>
						<tr>
						<td>Position in Company</td>
						<td>Logistics Head </td>
						</tr>
						<tr>
						<td>Employee Id</td>
						<td>E4890C0908</td>
						</tr>
						<tr>
						<td>Contact </td>
						<td>8978908789</td>
						</tr>
						<tr>
						<td>Email Id</td>
						<td>Ramsakh@gmail.com</td>
						</tr>
						</table>
						</div>
				 </div>
				 
				  <div class="col-md-4">
					<div class="panel panel-info" id="personal_info">
					  <div class="panel-heading">  
						<span class="glyphicon glyphicon-home"></span> Company Info
					  </div>	
					 <table class="table table-striped">
						<tr>
						<td>Name</td>
						<td>Random Company Pvt Ltd</td>
						</tr>
						<tr>
						<td>Company Type</td>
						<td>Manufacturing </td>
						</tr>
						<tr>
						<td>Service Tax No.</td>
						<td>hdj98220989</td>
						</tr>
						<tr>
						<td>PAN</td>
						<td>erko293820lk</td>
						</tr>
						<tr>
						<td>TIN/CIN</td>
						<td>rue98087dkk0980j</td>
						</tr>
						<tr>
						<td>Website URL</td>
						<td>www.randomwebsite.com</td>
						</tr>
						
						</table>
					</div>
				</div>
			
		
		
				 <div class="col-md-4">
						<div class="panel panel-info" id="comapny_address">
					  <div class="panel-heading">  
						<span class="glyphicon glyphicon-home"></span> Company Address</div>	
					  <table class="table table-striped">
						<tr>
						<td>Line 1</td>
						
						</tr>
						<tr>
						<td>Line 2</td>
						
						</tr>
						<tr>
						<td>Area</td>
						
						</tr>
						<tr>
						<td>City</td>
						
						</tr>
						<tr>
						<td>District</td>
					
						</tr>
						<tr>
						<td>State - PinCode</td>
					
						</tr>
						<tr>
						<td>Contact Number</td>
					
						</tr>
						<tr>
						<td>FAX</td>
					
						</tr>
						
						</table>
						</div>
				 </div>
				 </div>
				 
				 <div class="row">
				  <div class="col-md-12">
					<div class="panel panel-info" id="rating">
					  <div class="panel-heading">  
						<span class="glyphicon glyphicon-home"></span> Review & Ratings
					  </div>	
					  <table class="table" Style="border-bottom:1px solid black; color:blue;">
						<tr>
						<td>Overall : 8.9</td>
						<td>Driver & Vehicle : 9.1</td>
						<td>Load Condition : 8.3</td>
						<td>On-Time : 8.1</td>
						
						</tr>
						 </table>
						<table class="table table-striped">
						<tr>
						<th style="width:200px;">Sivay Transport says</th>
						<td><p>lorem ipsm jakoar akloear alkoeg updoseow lkaouenf alapsdiur roesd skdjdfos kdadslopjkd dslopjjsdf awesdl jfjhg skjffjgh kdfj skdjfhgwwueryt sncvbkdhguh fhhfj djjbkfg djftuvdkjsgh kjgdfkgf jjghfgn fhgkdhgug sdlkoipmnj dsdkjfh didfsn vbxm vnksi utuijfi</p> </td>
						</tr>
						<tr>
						<th style="width:200px;">OOM Logistics says</th>
						<td><p>lorem ipsm jakoar akloear alkoeg updoseow lkaouenf alapsdiur roesd skdjdfos kdadslopjkd dslopjjsdf awesdl sdlkoipmnj dsdkjfh didfsn vbxm vnksi utuijfi</p> </td>
						</tr>
						<tr>
						<th style="width:200px;">Shankar Lorrys says</th>
						<td><p>lorem ipsm jakoar akloear alkoeg updoseow lkaouenf alapsdiur roesd skdjdfos kdadslopjkd dslopjjsdf awesdl sdlkoipmnj dsdkjfh didfsn vbxm vnksi utuijfi</p> </td>
						</tr>
					  </table>
					</div>
				</div>
				</div>


{% endblock %}
