<!DOCTYPE html>
<html lang="en" style="width: 100%;height: 100%;">
<head>
	<meta charset="utf-8"/>
	{% load staticfiles %}
	<title>Roadbrick</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{%static 'personal/css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'personal/css/header.css'%}">
	<script type="text/javascript"  src="roadbrick.js"></script>
</head>

<!-- body Starts Hear -->
<body class="body" data-spy="scroll" data-target=".navbar">
	<nav class="navbar navbar-default navbar-fixed-top nomargin navbarbackground">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a id="Logoimg" class="navbar-brand" href="#">
	      	<img src="{%static 'personal/images/Logo.png'%}" style="width:250px;" alt="Smiley face">
	      </a>
	      <select class="navbar-language">
			    <option>English</option>
			    <option>Hindi</option>
			    <option>Telgu</option>
			    <option>Tamil</option>
		  </select>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right: 10px;">
	       <ul class="nav navbar-nav navbar-right" id="scrollpynavigation">
	        <li><a href="#home" class="headerlink">Home</a></li>
	        <li><a href="#whyus" class="headerlink">Why us</a></li>
	        <li><a href="#howitworks" class="headerlink">How it works</a></li>
	        <li><a href="#about" class="headerlink">About</a></li>
	        <li><a href="#contact" class="headerlink">Contact</a></li>
	        <li>
	        <button type="button" id="LoginButton" onclick="LoginClick()" class="btn btn-secondary btn-md"><a href="/login/"></a>Login</button>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	</nav>
			{% block content %}
			
			{% endblock %}

<div style="margin-top: 10px; border-bottom: 3px solid orange;"></div>

<div class=" container-fluid row nomargin " style="text-align: center;">
	<div class="col-lg-4 col-lg-offset-4" style="margin-top: 10px; margin-bottom: 20px; text-decoration-style: none; border-bottom: 3px solid orange; padding-bottom: 5px;">
		<h1 style="display: inline; font-weight: bold;"> <img style="width: 30px;height: 30px" src="{%static 'personal/images/Contact.png'%}" alt=""> </h1>
		<h3 style="display: inline; font-weight: bold; color:orange"> &nbsp; Contact</h3>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 col-lg-offset-2">
		<h4 style="margin-bottom: 10px; color:orange">The Address</h4>
		<p style="margin-bottom: 10px;">Roadbrick Private Limited</p>
		<p>Tapti Hostel <br> 4th floor <br> Room no:-421 <br>Chennai,600036 <br> Tamil Naidu</p>
		<h4 style="margin-top: 20px; color:orange">Reach Us</h4>
		<p style="margin: 0px;">Mail: customer@roadbrick.com</p>
		<p>Call: +91-8979087869</p>
	</div>

	<div class="col-lg-4 col-lg-pull-1">
		<div class="form-group row" >
  			<div class="col-lg-10 col-lg-offset-1">
  	  			<input type="text" class="form-control contact" placeholder="Name">
 			</div>
		</div>
		<div class="form-group row">
  			<div class="col-lg-10 col-lg-offset-1">
	  			<input type="text" class="form-control contact" placeholder="Email id">
			</div>
		</div>
		<div class="form-group row">
  			<div class="col-lg-10 col-lg-offset-1">
  	  			<input type="text" class="form-control contact" placeholder="Phone Number">
 			 </div>
		</div>
		<div class="form-group row">
  			<div class="col-lg-10 col-lg-offset-1">
  	  			<textarea id="contactmessage" type="text" class="form-control contact" placeholder="Message"></textarea>
 			 </div>
		</div>
		<div class="form-group row">
		<div class="col-lg-5 col-lg-offset-5">
			<button type="button" id="Send" class="btn btn-secondary fontsize align-centre roadbrickbutton">Send</button>	
		</div>
		</div>
	</div>
</div>

<!--Start of footer -->
<footer class="roadbrick_footer">
	<nav class="navbar navbar-default navbar-fixed-bottom nomargin navbarbackground" style="height: 50px;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4">
					<p style="padding-top: 15px; padding-bottom: 0px;">Copyright @ 2016 RoadBrick Pvt Ltd. All Right Reserved.</p>
				</div>
				<div class="col-lg-4" style="padding-top: 15px;">
					<ul class="footerlist">
						<li> <a href="#roadbrickPrivacyPolicy"> Privcy Policy</a> </li>
						<li> <a href="#roadbrickTermOfUse">Terms of Use</a> </li>
						<li> <a href="#roadbrickWeAreHiring"> We are Hiring</a> </li>
					</ul>
				</div>
				<div class="col-lg-4" style="padding-left: 120px; padding-top: 0px; align-content: center; margin-bottom :10px">
					<ul class="footersocial">
						<li><a href="#roadbrickfacebook"><img src="{%static 'personal/images/facebookicon.png'%}" alt=""></a></li>
						<li><a href="#roadbricktwitter"><img src="{%static 'personal/images/twittericon.png'%}" alt=""></a></li>
						<li><a href="#roadbrickgoogleplus"><img src="{%static 'personal/images/google-plus-icon.png'%}" alt=""></a></li>
						<li><a href="#roadbrickfacebook"><img src="{%static 'personal/images/pininterest.png'%}" alt=""></a></li>
					</ul>
				</div>
			</div>		
		</div>
</footer>

<!--End of footer -->



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">$(document).ready(function() { $('body').scrollspy({ target: '#scrollpynavigation'});});</script>
</body>

</html>