{%extends "loggedin_load/profile_header.html"%}
{% block content %}


		<!--Live deal container starts here-->
		<div class="container-fluid">
				 <div class="row">
				  <div class="col-md-12">
					<div class="panel panel-info">
					  <div class="panel-heading">  
						<span class="glyphicon glyphicon-home"></span> Load Number : L57893T9303
					  </div>	
					   <div class="panel-body">
						 
				<div class="col-md-3">
					<div class="panel panel-default">
					  <div class="panel-heading">  
						Load Details
					  </div>	
					   	<table class="table table-hover">
						<tr>
						<td>Date</td>
						<td>15-10-2016</td>
						</tr>
						<tr>
						<td>Start-End</td>
						<td>Chennai - Delhi </td>
						
						</tr>
						<tr>
						<td>Weight</td>
						<td>50 Ton - 60 Ton</td>
						</tr>
						<tr>
						<td>Material</td>
						<td>Cement</td>
						</tr>
						<tr>
						<td>Material Type</td>
						<td>Hard</td>
						</tr>
						<tr>
						<td>Type of Truck</td>
						<td>Container</td>
						</tr>
						<tr>
						<td>No. of Truck</td>
						<td>5</td>
						</tr>
						
						</table>
					</div>
				</div>
				
				 <div class="col-md-3">
					<div class="panel panel-default" id="rating">
					  <div class="panel-heading">  
							Transport Details
					  </div>	
					  	<table class="table table-hover ">
						<tr>
						<td>Name</td>
						<td>Sivay Transports</td>
						
						</tr>
						<tr>
						<td>Contact Person</td>
						<td>Gudunn singh</td>
						
						</tr>
						<tr>
						<td>Phone</td>
						<td>9087908789</td>
						</tr>
						<tr>
						<td>Email</td>
						<td>gudunn9809@gmail.com</td>
						</tr>
						<tr>
						<td>Rating</td>
						<td>8.8/10</td>
						</tr>
						</table>
					</div>
				</div>
				
				
				
				<div class="col-md-3">
					<div class="panel panel-default" id="rating">
					  <div class="panel-heading">  
						Pick-up Address
					  </div>
							<table class="table table-hover">
						<tr>
							<td>House no./Street no./Road no.</td>
						
						</tr>
						<tr>
							<td>Area</td>
							
						</tr>
						<tr>
							<td>City</td>
							
						</tr>
						<tr>
							<td>District</td>
							
						</tr>
						<tr>
							<td>State - Pincode</td>
							
						</tr>
						</table>
					   	<table class="table table-hover">
						<tr style="border-top:1px solid grey;">
							<td>Contact Person</td>
							<td>Rana bahubali</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td>7809879809</td>
						</tr>
						</table>
					   
					</div>
				</div>
				
				 <div class="col-md-3">
					<div class="panel panel-default" id="rating">
					  <div class="panel-heading">  
							Drop Address
					  </div>	
					 	<table class="table table-hover">
						<tr>
							<td>House no./Street no./Road no.</td>
						
						</tr>
						<tr>
							<td>Area</td>
							
						</tr>
						<tr>
							<td>City</td>
							
						</tr>
						<tr>
							<td>District</td>
							
						</tr>
						<tr>
							<td>State - Pincode</td>
							
						</tr>
						</table>
					   	<table class="table table-hover">
						<tr style="border-top:1px solid grey;">
							<td>Contact Person</td>
							<td>Rana bahubali</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td>7809879809</td>
						</tr>
						</table>		
					</div>
				</div>
				
				 <div class="col-md-6">
					<div class="panel panel-default" id="rating">
					  <div class="panel-heading">  
							Vehicle Details
					  </div>	
					  	<table class="table table-hover">
						<tr>
							<th>Vehicle No.</th>
							<th>Driver Name</th>
							<th>Phone</th>
							<th>Status</th>
							
						</tr>
						<tr>
							<td>TN02-bg-4098</td>
							<td>Ramsukh Lal</td>
							<td>8909765676</td>
							<td>Yet to Start</td>
						</tr>
						<tr>
							<td>TN65-SK-0906</td>
							<td>Chando Fulko</td>
							<td>2365985426</td>
							<td>Yet to Start</td>
						</tr>
						<tr>
							<td>TN25-kj-5648</td>
							<td>Banar seth</td>
							<td>6598456355</td>
							<td>Yet to Start</td>
						</tr>
						</table>						
					</div>
				</div>
				
			 <div class="col-md-6">
					<div class="panel panel-default" id="payment">
					  <div class="panel-heading">  
							Payment Terms
					  </div>	
					   		<table class="table">
								<tr>
								<td>Total Amount</td>
								<td>Rs. 2,00,000</td>
								</tr>
								<tr>
								<td colspan="2" >
								<form class="form-horizontal">
								 <div class="form-group">
									<label for="before_trip" class="col-sm-3">Before Trip</label>
									  <div class="input-group col-sm-6">
										<div class="input-group-addon">Rs.</div>
									<input type="text" class="form-control" id="before_trip" placeholder="Amount (In Rs.)">
									<div class="input-group-addon">.00</div>
									</div>
									<label for="after_trip" class="col-sm-3">After Trip</label>
									<div class="input-group col-sm-6">
										<div class="input-group-addon">Rs.</div>
									<input type="text" class="form-control" id="after_trip" placeholder="Amount (In Rs.)">
									<div class="input-group-addon">.00</div>
									</div>
								 </div>
								  <button type="submit" class="btn btn-sm btn-success col-sm-offset-8">Submit</button>
								</form>
								</td>
								</tr>
							</table>
					</div>
				</div>
				 <div class="col-md-12">
					<div class="panel panel-default" id="rating">
					  <div class="panel-heading">  
							Review & Rating
					  </div>	
					   	<table class="table">
							<tr>
								<th style="width:16%;">Vehicle No.</th>
								<th style="width:16%;">ETA</th>
								<th style="width:16%;">Driver & Vehicle</th>
								<th style="width:16%;">Load Condition</th>
								<th style="width:16%;">On-Time</th>
								<th style="width:16%;"></th>
							</tr>
							
							<tr>
								<td style="width:16%;">TN-03-BJ-0946</td>
								<td style="width:16%;">15-03-2016/12:45pm</td>
								<td colspan="4"><form class="form-inline">
									  <div class="form-group"  style="width:20%; margin-left:3%;">
									  
										<select name="Overall Rating">
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  
									   <div class="form-group" style="width:20%; margin-left:4%;" >
									    
										<select name="Overall Rating">
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  
									   <div class="form-group" style="width:20%; margin-left:4%;">
									   
										<select name="Overall Rating" >
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  
									  <button type="submit" class="btn btn-sm btn-success" >Submit</button>
									</form>	
									</td>
							</tr>
							
							<tr>
								<td style="width:16%;">TN-98-kf-6890</td>
								<td style="width:16%;">15-03-2016/12:45pm</td>
								<td colspan="4"><form class="form-inline">
									  <div class="form-group"  style="width:20%; margin-left:3%;">
									  
										<select name="Overall Rating">
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  
									   <div class="form-group" style="width:20%; margin-left:4%;" >
									    
										<select name="Overall Rating">
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  
									   <div class="form-group" style="width:20%; margin-left:4%;">
									   
										<select name="Overall Rating" >
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  
									  <button type="submit" class="btn btn-sm btn-success" >Submit</button>
									</form>	
									</td>
							</tr>
							
							<tr>
								<td style="width:16%;">TN-04-GK-1206</td>
								<td style="width:16%;">15-03-2016/12:45pm</td>
								<td colspan="4"><form class="form-inline">
									  <div class="form-group"  style="width:20%; margin-left:3%;">
									  
										<select name="Overall Rating">
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  
									   <div class="form-group" style="width:20%; margin-left:4%;" >
									    
										<select name="Overall Rating">
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  
									   <div class="form-group" style="width:20%; margin-left:4%;">
									   
										<select name="Overall Rating" >
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  
									  <button type="submit" class="btn btn-sm btn-success" >Submit</button>
									</form>	
									</td>
							</tr>
							<table  class="table table-striped">
							<tr> 
								<td> <form class="form-inline col-sm-offset-7">
									  <div class="form-group">
									  Rate Your Transporter: 
										<select name="Overall Rating" >
											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
										
									  </div>
									  <button type="submit" class="btn btn-sm btn-success" style="margin-left:18%;">Submit</button>
									  </form>
									  </td>
							</tr>
							</table>
							<tr>
								<td colspan="6">
									<div class="col-md-12" >
									<form class="form " role="form">
										
																	   
										
											<textarea class="form-control" id="review" style="margin-top:10px;" placeholder="Share your experience with us" ></textarea>
											<button type="submit" class="btn btn-sm btn-success" style="margin-top:15px;">Submit</button>
										
									</form>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
						
						</div>			
					</div>
				</div>
				</div>

{% endblock %}
