{%extends "loggedin_load/profile_header.html"%}
{% load crispy_forms_tags %}
{% block content %}
{% load staticfiles %}

<div class="row">
	<div class="col-lg-4 col-lg-offset-4" style="padding-left: 90px;">
		<h4 style="color:orange;  margin-top: 30px; margin-left: 70px;">Enter Load Details</h4>
		<p style="width:300px;" 	class="borderbetweentwodiv"></p>
	</div>
</div>


<div class="row" style="padding-top: 20px;">
	<div class="col-lg-4 col-lg-offset-2">
		<div class="row">
			<form class="nomargin" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
				{{ form|crispy }}
				<input type='submit' value='Create Post' />
					 <!-- <div class="form-group row costestimateform" >
					  <div class="col-lg-10 col-lg-offset-1 borderradius">
					  	  <input type="text" class="form-control" id="formGroupExampleInput " placeholder="From">
					  </div>
					  </div>
					 <div class="form-group row">
					  <div class="col-lg-10 col-lg-offset-1 borderradius">
					  	  <input type="text" class="form-control" id="formGroupExampleInput " placeholder="Type of truck">
					  </div>
				  </div>
				   <div class="form-group row">
					  <div class="col-lg-10 col-lg-offset-1">
					  	  <input type="text" class="form-control" id="formGroupExampleInput " placeholder="Date">
					  </div>
					  </div>
				  <div class="form-group row">
				  <div class="col-lg-10 col-lg-offset-1">
					  <input type="text" class="form-control" id="formGroupExampleInput " placeholder="Weight(In Ton)">
				  </div>
				  </div>
				 <div class="form-group row">
				  <div class="col-lg-10 col-lg-offset-1">
				  	  <input type="text" class="form-control" id="formGroupExampleInput " placeholder="Material Name">
				  </div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="row">
			<form class="nomargin" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
					  <div class="form-group row costestimateform" >
					  <div class="col-lg-10 col-lg-offset-1 borderradius">
					  	  <input type="text" class="form-control" placeholder="To">
					  </div>
					  </div>
					 <div class="form-group row">
					  <div class="col-lg-10 col-lg-offset-1 borderradius">
					  	  <input type="text" class="form-control" placeholder="Number Of Truck">
					  </div>
				  </div>
				   <div class="form-group row">
					  <div class="col-lg-10 col-lg-offset-1">
					  	  <input type="text" class="form-control"  placeholder="Time">
					  </div>
					  </div>
				  <div class="form-group row">
				  <div class="col-lg-10 col-lg-offset-1">
					  <input type="text" class="form-control" placeholder="Volume(In Cubic meters)(Optional)">
				  </div>
				  </div>
				 <div class="form-group row">
				  <div class="col-lg-10 col-lg-offset-1">
				  	  <input type="text" class="form-control" placeholder="Material Type (Optional)">
				  </div>
				</div> -->
			</form>
		</div>
	</div>
</div>

<div class="row" style="padding-top:15px;">
	<div class="col-lg-4 col-lg-offset-2" >
		<button style=" margin-left: 23px;" type="button" id="calculatebutton" class="btn btn-secondary fontsize align-centre roadbrickbutton">Pick-Up Address</button>
	</div>
	<div class="col-lg-4" >
		<button style=" margin-left: 23px;" type="button" id="calculatebutton" class="btn btn-secondary fontsize align-centre roadbrickbutton">Drop Address</button>
	</div>
</div>


<div class="row" style="padding-top:15px; color:orange;">
	<div class="col-lg-4 col-lg-offset-2" >
		<div class="col-lg-10" style="width: 290px;">
			<h4 style=" margin-left: 6px;">Choose from Saved Addresses &nbsp;&nbsp;</h4>
		</div>
		<div class="col-lg-2">
			<input style="margin-top: 10px; width: 20px;height: 20px;" type="radio">
		</div>
	</div>
	<div class="col-lg-4" >
		<div class="col-lg-10" style="width: 290px;">
			<h4 style=" margin-left: 6px;">Choose from Saved Addresses &nbsp;&nbsp;</h4>
		</div>
		<div class="col-lg-2">
			<input style="margin-top: 10px; width: 20px;height: 20px;" type="radio">
		</div>
	</div>
</div>
<div class="row">
	<p style="text-align: center; ">OR</p>
</div>
<div class="row orangecolor">
	<div class="col-lg-4 col-lg-offset-4" >
		<div class="col-lg-10" style="width: 280px;">
			<h4 style=" margin-left: 80px;">Add New Address&nbsp;&nbsp;</h4>
		</div>
		<div class="col-lg-2">
			<input style="margin-top: 10px; width: 20px;height: 20px;" type="radio">
		</div>
	</div>	
</div>

<div class="row" style="padding-top: 40px;">
	<div class="col-lg-4 col-lg-offset-4" >
		<button style=" width: 250px; margin-left: 80px; font-size: 20px;" type="button" id="calculatebutton" class="btn btn-secondary fontsize align-centre roadbrickbutton">Submit</button>
	</div>
</div>
{% endblock %}