{%extends "loggedin_load/profile_header.html"%}
{% block content %}


<div class="row">
	<div class="col-lg-2" style="height: 300px;">
		<ul class="nav nav-pills nav-stacked">
  			<li role="presentation"><a href="#">Profile Settings</a></li>
  			<li role="presentation"><a href="#">Change Password</a></li>
		</ul>
	</div>


	<div class="col-lg-10">
		<div class="row">
			<div class="col-lg-5" style="margin-top: 20px;">
				<h4>Company Name</h4>
			</div>
			<div class="col-lg-5" style="margin-top: 20px;">
  	  			<input type="text" class="form-control contact" placeholder="Roadbrick Pvt Ltd.">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5" style="margin-top: 20px;">
				<h4>Company's Regestration Number</h4>
			</div>
			<div class="col-lg-5" style="margin-top: 20px;">
  	  			<input type="text" class="form-control contact" placeholder="Rg5758394877">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5" style="margin-top: 20px;">
				<h4>Employee Id</h4>
			</div>
			<div class="col-lg-5" style="margin-top: 20px;">
  	  			<input type="text" class="form-control contact" placeholder="Emp203898">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5" style="margin-top: 20px;">
				<h4>Contact Number</h4>
			</div>
			<div class="col-lg-5" style="margin-top: 20px;">
  	  			<input type="text" class="form-control contact" placeholder="9087864155">
			</div>
		</div><div class="row">
			<div class="col-lg-5" style="margin-top: 20px;">
				<h4>Email Id</h4>
			</div>
			<div class="col-lg-5" style="margin-top: 20px;">
  	  			<input type="text" class="form-control contact" placeholder="madhavvart@roadbrick.com">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5" style="margin-top: 20px;">
				<h4>Office Address</h4>
			</div>
			<div class="col-lg-5" style="margin-left: 15px;">
				<div class="row"  style="margin-top: 20px; width: 408px; border:1px solid orange; ">
					<input style="margin:3px;" type="text" class="form-control contact" placeholder="Address1">
					<input style="margin:3px;" type="text" class="form-control contact" placeholder="Address2">
					<input style="margin:3px;" type="text" class="form-control contact" placeholder="Address3">
					<input style="margin:3px;" type="text" class="form-control contact" placeholder="City-Pincode">
					<input style="margin:3px;" type="text" class="form-control contact" placeholder="State">
					<input style="margin:3px;" type="text" class="form-control contact" placeholder="Email Id">
					<input style="margin:3px;" type="text" class="form-control contact" placeholder="Phone Number">
				</div>
			</div>
		</div>
		<div style="margin-top: 30px;" class="borderbetweentwodiv"></div>
		<div class="row">
				<div class="col-lg-8 col-lg-offset-2" style="padding-left: 130px;">
					<h4 style="color:orange; margin-left: 100px;">Change Password</h4>
					<div style="margin-left: 50px; width: 250px;" class="borderbetweentwodiv"></div>
				</div>
`		</div>
		<div class="row" style="margin-top: 30px; margin-left: 40px;">
			<div class="col-lg-4 col-lg-offset-2">
				<input style="margin:3px; height: 35px; width: 450px;" type="text" class="form-control" placeholder="Enter Current Password">
				<input style="margin:3px; height: 35px; width: 450px;" type="text" class="form-control" placeholder="Enter New Password">
				<input style="margin:3px; height: 35px; width: 450px;" type="text" class="form-control" placeholder="Confirm New Password">
			</div>
		</div>
		<div class="row" style="margin-top: 30px; margin-left: 40px;">
			<div class="col-lg-4 col-lg-offset-2">
				<button style="color:white; margin-left: 175px; width: 100px; background-color: orange;" type="button" id="profilebutton" class="btn btn-secondary">Save</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}