{%extends "loggedin_load/profile_header.html"%}
{% block content %}
{% load staticfiles %}
<div class="row">
	<div class="col-lg-4 col-lg-offset-4" style="padding-left: 90px;">
		<h3 style="color:orange;  margin-top: 30px; margin-left: 70px;">&nbsp &nbsp &nbsp &nbsp Profile</h3>
		<p style="width:300px;" 	class="borderbetweentwodiv"></p>
	</div>
</div>


<div class="row" style="margin-top: 30px;">
	<div class="col-lg-8 col-lg-offset-2">
  <table class="table profile-table ">
  <tbody >
   <tr>
      <td>Name</td>
      <td> Madhav vart</td>
   </tr>
    <tr>
      <td>Company Name</td>
      <td> RoadBricks Pvt Ltd</td>
   </tr>
   <tr>
      <td>Company's Registration Number</td>
      <td> Rg59089er54</td>
   </tr>
   <tr>
      <td>Employee Id </td>
      <td>Emp203898 </td>
   </tr>
   <tr>
      <td>Contact Number </td>
      <td> 9087864155</td>
   </tr>
   <tr>
      <td>Email id</td>
      <td> madhavvart@roadbrick.com</td>
   </tr>
   <tr>
      <td>Office Address </td>
      <td> Address Line 1 <br>
           Address Line 2 <br>  
           Address Line 3 <br> 
           City-Pin Code <br> 
           State <br>
           Email Id<br>
           Phone Number  
      </td>
   </tr>
   <tr>
      <td>Rating</td>
      <td> 85%</td>
   </tr>
  
    <tr>
    </tr>
  </tbody>
</table>
</div>
</div>


<div class="row">
		<div class="col-lg-5 col-lg-offset-3">
			<img style="width: 500px;height: 350px; margin-left: 90px;" src="{%static 'personal/images/ratingchart.png'%}" alt="">
		</div>
</div>


{% endblock %}
